.box1{
    
  background-color: rgb(188, 196, 195);
 height:150px
}
.inner{
background-color: rgb(70, 85, 205);
width: 10%;
height:70%

}
.box2{
   margin-top: 50px;
   margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
}
.box3{
  background-color: #4A90E2;
  height:180px
}
.box4{
  background-color: #51fcf1;;
  height: 180px;
} 
.box5{
  background-color: #e9ffa7;;
  height: 180px;
} 

.box6{
  background-color: #ffff18;;
  height: 180px;
} 

